<%- include ('partials/header.ejs') %>
    <div class="navigation">
        <ul class="nav">
            <li class="list">
                <a href="/">
                    <span class="icon">
                        <ion-icon name="home-sharp"></ion-icon>
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="/search">
                    <span class="icon">
                        <ion-icon name="search"></ion-icon>
                    </span>
                    <span class="title">Search</span>
                </a>
            </li>
            <li class="list active">
                <a href="/follow">
                    <span class="icon">
                        <ion-icon name="menu"></ion-icon>
                    </span>
                    <span class="title">Follow</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="position-content">
        <div class="title-head p-h">FAVORITE</div>
        <div class="album py-6 bg-content">
            <div class="box-head">
                <div class="fw-light">Songs</div>
            </div>

            <!-- Fav song -->
            <% if(followlikesong==0) { %>
                <h1 class="caution">Don't have favorite song to show here! <a href="/">Add</a> favorite songs to show.
                </h1>
                <% } else { %>
                    <div class="home-music">
                        <div class="row row-col-1 row-cols-sm-2 row-cols-md-6 g-4">
                            <% followlikesong.forEach(function(followlikesong){ %>
                                <div class="col-sm-1 box-content">
                                    <div class="card shadow-sm">
                                        <img src="<%= followlikesong.image %>" class="landing-img img-body">
                                        <div class="card-body p-3">
                                            <span>&nbsp;</span>
                                            <div class="d-flex">
                                                <p class="card-text">
                                                    <a href="/songs/detail/<%= followlikesong._id %>"
                                                        class="text-decoration-none Sname song-body">
                                                        <%= followlikesong.name %>
                                                    </a>
                                                </p>

                                                <div class="play-button-music" id="playing-music">
                                                    <div class="block">
                                                        <div class="player-btn play--btn" id="playnow">
                                                            <div class="player-btn-particles">
                                                                <div
                                                                    class="player-btn-particle player-btn-particle--one">
                                                                </div>
                                                            </div>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 200 200" class="player-btn-icon">
                                                                <path class="svg-play to-play" fill="transparent"
                                                                    d="M90 50 L30 15 L30 160 L170 100 L130 75" />
                                                            </svg>
                                                        </div>
                                                        <audio id="track">
                                                            <source src="<%=followlikesong.mp3 %>" type="audio/mp3">
                                                            <% console.log(followlikesong.mp3) %>
                                                        </audio>
                                                    </div>

                                                    <!-- Filter -->
                                                    <svg class="svg-hidden" xmlns="http://www.w3.org/2000/svg"
                                                        version="1.1">
                                                        <defs>
                                                            <filter id="fancy-goo">
                                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                                    result="blur" />
                                                                <feColorMatrix in="blur" mode="matrix"
                                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                                    result="goo" />
                                                                <feComposite in="SourceGraphic" in2="goo"
                                                                    operator="atop" />
                                                            </filter>
                                                        </defs>
                                                    </svg>
                                                </div>

                                                <div class="fav-heart">
                                                    <form action="/unfollow/song/<%= followlikesong._id %>"
                                                        method="POST">
                                                        <button type="submit" class="favbtn">
                                                            <img src="/apicture/heart.png" class="heartfav">
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                            <p class="card-text Aname art-body">
                                                <%= followlikesong.artist.artistname %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                    <% } %>

                        <!-- Fav Artist -->
                        <div class="box-head">
                            <div class="fw-light">Artist</div>
                        </div>
                        <% if(followlikeartist==0) { %>
                            <h1 class="caution">Don't have favorite artists to show here! <a href="/">Add</a> favorite
                                artists to show.</h1>
                            <% } else { %>
                                <div class="home-music">
                                    <div class="row row-col-1 row-cols-sm-2 row-cols-md-6 g-4">
                                        <% followlikeartist.forEach(function(followlikeartist){ %>
                                            <div class="col-sm-1 box-content">
                                                <div class="card shadow-sm">
                                                    <img src="<%= followlikeartist.image %>" class="landing-img">

                                                    <div class="card-body p-3">
                                                        <span>&nbsp;</span>
                                                        <div class="d-flex">
                                                            <p class="card-text">
                                                                <a href="/artist/detail/<%= followlikeartist._id %>"
                                                                    class="text-decoration-none Sname">
                                                                    <%= followlikeartist.artistname %>
                                                                </a>
                                                            </p>

                                                            <div class="fav-heart">
                                                                <form
                                                                    action="/unfollow/artist/<%= followlikeartist._id %>"
                                                                    method="POST">
                                                                    <button type="submit" class="favbtn">
                                                                        <img src="/apicture/heart.png" class="heartfav">
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <p class="card-text Aname">
                                                            <%= followlikeartist.descriptartist %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                                <% } %>
        </div>
    </div>
    </div>

    <%- include ('partials/footer.ejs') %>