<%- include ('partials/header.ejs') %>
    <% let Time=new Date(); let Hour=Time.getHours(); %>

        <div class="wrapper">
            <main>
                <%if(Hour>= 0 && Hour < 12){ %>
                        <h1>Good Morning</h1>
                        <% } %>
                            <% if(Hour>= 12 && Hour < 18){ %>
                                    <h1>Good Afternoon</h1>
                                    <% } %>
                                        <% if(Hour>= 18 && Hour <= 23){ %>
                                                <h1>Good Evening</h1>
                                                <% } %>
            </main>

            <div class="navigation">
                <ul class="nav">
                    <li class="list active">
                        <a href="/">
                            <span class="icon">
                                <ion-icon name="home-sharp"></ion-icon>
                            </span>
                            <span class="title">Home</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/search">
                            <span class="icon">
                                <ion-icon name="search"></ion-icon>
                            </span>
                            <span class="title">Search</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="/follow">
                            <span class="icon">
                                <ion-icon name="menu"></ion-icon>
                            </span>
                            <span class="title">Follow</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <% if(currentUser && currentUser.isAdmin){ %>
            <section class="container ADMIN">
                <div>
                    <a href="/songs/new" class="btn btn-primary">Admin</a>
                </div>
            </section>
            <% } %>
            <div class="position-content">
                <div class="album bg-content">
                    <div class="box-head">
                        <div class="fw-light">Today music</div>
                        <!-- <a class="seeall" href="/songs/Allsong/">SEE ALL</a> -->
                    </div>
                    <div class="home-music">
                        <div class="row row-col-1 row-cols-sm-2 row-cols-md-6 g-4">
                            <% allsong.forEach(function(allsong){ %>
                                <div class="col-sm-1 box-content">
                                    <div class="card shadow-sm">
                                        <img src="<%= allsong.image %>" class="landing-img img-body">

                                        <div class="card-body">
                                            <span>&nbsp;</span>
                                            <div class="d-flex">
                                                <p class="card-text">
                                                    <a href="/songs/detail/<%= allsong._id %>"
                                                        class="text-decoration-none Sname song-body">
                                                        <%= allsong.name %>
                                                    </a>
                                                </p>

                                                <div class="play-button-music" id="playing-music">
                                                    <div class="block">
                                                        <div class="player-btn play--btn" id="playnow">
                                                            <div class="player-btn-particles">
                                                                <div
                                                                    class="player-btn-particle player-btn-particle--one">
                                                                </div>
                                                            </div>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 200 200" class="player-btn-icon">
                                                                <path class="svg-play to-play" fill="transparent"
                                                                    d="M90 50 L30 15 L30 160 L170 100 L130 75" />
                                                            </svg>
                                                        </div>
                                                        <audio id="track">
                                                            <source src="<%=allsong.mp3 %>" type="audio/mp3">
                                                        </audio>
                                                    </div>

                                                    <!-- Filter -->
                                                    <svg class="svg-hidden" xmlns="http://www.w3.org/2000/svg"
                                                        version="1.1">
                                                        <defs>
                                                            <filter id="fancy-goo">
                                                                <feGaussianBlur in="SourceGraphic" stdDeviation="10"
                                                                    result="blur" />
                                                                <feColorMatrix in="blur" mode="matrix"
                                                                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                                    result="goo" />
                                                                <feComposite in="SourceGraphic" in2="goo"
                                                                    operator="atop" />
                                                            </filter>
                                                        </defs>
                                                    </svg>
                                                </div>

                                                <% if(currentUser) { %>
                                                    <% if(fsuser.includes(allsong._id)) { %>
                                                        <form action="/unfollow/song/<%= allsong._id %>" method="POST">
                                                            <button type="submit" class="favbtn">
                                                                <img src="/apicture/heart.png" class="heartfav">
                                                            </button>
                                                        </form>
                                                        <% } else { %>
                                                            <form action="/follow/song/<%= allsong._id %>"
                                                                method="POST">
                                                                <button type="submit" class="favbtn">
                                                                    <img src="/apicture/unheart.png" class="heartfav">
                                                                </button>
                                                            </form>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <form action="/follow/song/<%= allsong._id %>"
                                                                        method="POST">
                                                                        <button type="submit" class="favbtn">
                                                                            <img src="/apicture/unheart.png"
                                                                                class="heartfav">
                                                                        </button>
                                                                    </form>
                                                                    <% } %>
                                            </div>
                                            <span class="card-text Aname art-body">
                                                <%= allsong.artist.artistname %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>

                <div class="bg-artist">
                    <div class="Artist-head">Artist</div>
                </div>

                <!-- Artist -->
                <div class="album py-6 bg-content">
                    <div class="box-head">
                        <div class="fw-light">Top Artist</div>
                    </div>
                    <div class="home-music">
                        <div class="row row-col-1 row-cols-sm-2 row-cols-md-6 g-4">
                            <% allartist.forEach(function(allartist){ %>
                                <div class="col-sm-1 box-content">
                                    <div class="card shadow-sm">
                                        <img src="<%= allartist.image %>" class="landing-img">

                                        <div class="card-body">
                                            <span>&nbsp;</span>
                                            <div class="d-flex">
                                                <p class="card-text">
                                                    <a href="/artist/detail/<%= allartist._id %>"
                                                        class="text-decoration-none Sname">
                                                        <%= allartist.artistname %>
                                                    </a>
                                                </p>
                                                <% if(currentUser) { %>
                                                    <% if(fauser.includes(allartist._id)) { %>
                                                        <form action="/unfollow/artist/<%= allartist._id %>"
                                                            method="POST">
                                                            <button type="submit" class="favbtn">
                                                                <img src="/apicture/heart.png" class="heartfav">
                                                            </button>
                                                        </form>
                                                        <% } else { %>
                                                            <form action="/follow/artist/<%= allartist._id %>"
                                                                method="POST">
                                                                <button type="submit" class="favbtn">
                                                                    <img src="/apicture/unheart.png" class="heartfav">
                                                                </button>
                                                            </form>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <form action="/follow/artist/<%= allartist._id %>"
                                                                        method="POST">
                                                                        <button type="submit" class="favbtn">
                                                                            <img src="/apicture/unheart.png"
                                                                                class="heartfav">
                                                                        </button>
                                                                    </form>
                                                                    <% } %>
                                            </div>
                                            <p class="card-text Aname">
                                                <%= otherartist.descriptartist %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
                <%- include ('partials/footer.ejs') %>